openapi: 3.0.3
info:
  title: Clerk Backend Account Portal Miscellaneous API
  x-logo:
    url: https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75
    altText: Clerk docs
    href: https://clerk.com/docs
  contact:
    email: support@clerk.com
    name: Clerk Platform Team
    url: https://clerk.com/support
  description: 'The Clerk REST Backend API, meant to be accessed by backend servers.


    ### Versions


    When the API changes in a way that isn''t compatible with older versions, a new version is released.

    Each version is identified by its release date, e.g. `2025-04-10`. For more information, please see [Clerk API Versions](https://clerk.com/docs/versioning/available-versions).


    Please see https://clerk.com/docs for more information.'
  version: '2025-11-10'
  termsOfService: https://clerk.com/terms
  license:
    name: MIT
    url: https://github.com/clerk/openapi-specs/blob/main/LICENSE
servers:
- url: https://api.clerk.com/v1
security:
- bearerAuth: []
tags:
- name: Miscellaneous
  description: Various endpoints that do not belong in any particular category.
paths:
  /public/interstitial:
    get:
      operationId: GetPublicInterstitial
      x-speakeasy-group: miscellaneous
      x-speakeasy-name-override: getPublicInterstitial
      security: []
      summary: Returns the Markup for the Interstitial Page
      description: 'The Clerk interstitial endpoint serves an html page that loads clerk.js in order to check the user''s authentication state.

        It is used by Clerk SDKs when the user''s authentication state cannot be immediately determined.'
      tags:
      - Miscellaneous
      parameters:
      - name: frontendApi
        deprecated: true
        in: query
        required: false
        description: Please use `frontend_api` instead
        schema:
          type: string
      - name: frontend_api
        in: query
        required: false
        description: The Frontend API key of your instance
        schema:
          type: string
      - name: publishable_key
        in: query
        required: false
        description: The publishable key of your instance
        schema:
          type: string
      - name: proxy_url
        in: query
        required: false
        description: The proxy URL of your instance
        schema:
          type: string
      - name: domain
        in: query
        required: false
        description: The domain of your instance
        schema:
          type: string
      - name: sign_in_url
        in: query
        required: false
        description: The sign in URL of your instance
        schema:
          type: string
      - name: use_domain_for_script
        in: query
        required: false
        description: Whether to use the domain for the script URL
        schema:
          type: boolean
      responses:
        '200':
          description: The interstitial page markup
        '400':
          description: A required query parameter is missing
        '500':
          description: An infinite redirect loop was detected
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Secret key, obtained under "API Keys" in the Clerk Dashboard.
      bearerFormat: sk_<environment>_<secret value>
externalDocs:
  url: https://clerk.com/docs
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes:
  - 5XX
  retryConnectionErrors: true
