openapi: 3.0.3
info:
  title: Clerk Backend Account Portal Proxy Checks API
  x-logo:
    url: https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75
    altText: Clerk docs
    href: https://clerk.com/docs
  contact:
    email: support@clerk.com
    name: Clerk Platform Team
    url: https://clerk.com/support
  description: 'The Clerk REST Backend API, meant to be accessed by backend servers.


    ### Versions


    When the API changes in a way that isn''t compatible with older versions, a new version is released.

    Each version is identified by its release date, e.g. `2025-04-10`. For more information, please see [Clerk API Versions](https://clerk.com/docs/versioning/available-versions).


    Please see https://clerk.com/docs for more information.'
  version: '2025-11-10'
  termsOfService: https://clerk.com/terms
  license:
    name: MIT
    url: https://github.com/clerk/openapi-specs/blob/main/LICENSE
servers:
- url: https://api.clerk.com/v1
security:
- bearerAuth: []
tags:
- name: Proxy Checks
  description: Check if a user is using a proxy.
paths:
  /proxy_checks:
    post:
      summary: Verify the Proxy Configuration for Your Domain
      x-speakeasy-group: proxyChecks
      x-speakeasy-name-override: verify
      description: 'This endpoint can be used to validate that a proxy-enabled domain is operational.

        It tries to verify that the proxy URL provided in the parameters maps to a functional proxy that can reach the Clerk Frontend API.


        You can use this endpoint before you set a proxy URL for a domain. This way you can ensure that switching to proxy-based

        configuration will not lead to downtime for your instance.


        The `proxy_url` parameter allows for testing proxy configurations for domains that don''t have a proxy URL yet, or operate on

        a different proxy URL than the one provided. It can also be used to re-validate a domain that is already configured to work with a proxy.'
      operationId: VerifyDomainProxy
      tags:
      - Proxy Checks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                domain_id:
                  type: string
                  description: The ID of the domain that will be updated.
                proxy_url:
                  type: string
                  description: The full URL of the proxy which will forward requests to the Clerk Frontend API for this domain. e.g. https://example.com/__clerk
      responses:
        '200':
          $ref: '#/components/responses/ProxyCheck'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
components:
  schemas:
    ClerkError:
      type: object
      properties:
        message:
          type: string
        long_message:
          type: string
        code:
          type: string
        meta:
          type: object
      required:
      - message
      - long_message
      - code
    ProxyCheck:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - proxy_check
        id:
          type: string
        domain_id:
          type: string
        last_run_at:
          type: integer
          format: int64
          nullable: true
          description: 'Unix timestamp of last run.

            '
        proxy_url:
          type: string
        successful:
          type: boolean
        created_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation.

            '
        updated_at:
          type: integer
          format: int64
          description: 'Unix timestamp of last update.

            '
      required:
      - object
      - id
      - domain_id
      - last_run_at
      - proxy_url
      - successful
      - created_at
      - updated_at
    ClerkErrors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ClerkError'
        meta:
          type: object
        clerk_trace_id:
          type: string
      required:
      - errors
  responses:
    ClerkErrors:
      description: Request was not successful
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClerkErrors'
    ProxyCheck:
      description: Health check information about a domain's proxy configuration validation attempt.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProxyCheck'
    UnprocessableEntity:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClerkErrors'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Secret key, obtained under "API Keys" in the Clerk Dashboard.
      bearerFormat: sk_<environment>_<secret value>
externalDocs:
  url: https://clerk.com/docs
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes:
  - 5XX
  retryConnectionErrors: true
