openapi: 3.2.0
info:
  title: Clerk Com Invitations API
  termsOfService: https://clerk.com/terms
  x-logo:
    url: https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75
    altText: Clerk docs
    href: https://clerk.com/docs
  version: '1.0'
  description: 'Operations tagged Invitations across 2 of this provider''s published API definitions: clerk-backend-api-openapi.yml, clerk-frontend-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.clerk.com/v1
- url: https://{domain}.clerk.accounts.dev
  variables:
    domain:
      default: example-destined-camel-13
      description: Your Development Instance Frontend API Domain.
tags:
- name: Invitations
  description: Invitations allow you to invite someone to sign up to your application, via email.
  externalDocs:
    url: https://clerk.com/docs/authentication/invitations
paths:
  /invitations:
    post:
      operationId: CreateInvitation
      x-speakeasy-group: invitations
      x-speakeasy-name-override: create
      summary: Create an Invitation
      description: 'Creates a new invitation for the given email address and sends the invitation email.

        Keep in mind that you cannot create an invitation if there is already one for the given email address.

        Also, trying to create an invitation for an email address that already exists in your application will result to an error.'
      tags:
      - Invitations
      requestBody:
        description: Required parameters
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                email_address:
                  type: string
                  description: The email address the invitation will be sent to
                public_metadata:
                  type: object
                  description: 'Metadata that will be attached to the newly created invitation.

                    The value of this property should be a well-formed JSON object.

                    Once the user accepts the invitation and signs up, these metadata will end up in the user''s public metadata.'
                  additionalProperties: true
                redirect_url:
                  type: string
                  description: 'Optional URL which specifies where to redirect the user once they click the invitation link.

                    This is only required if you have implemented a [custom flow](https://clerk.com/docs/authentication/invitations#custom-flow) and you''re not using Clerk Hosted Pages or Clerk Components.'
                notify:
                  type:
                  - boolean
                  - 'null'
                  description: 'Optional flag which denotes whether an email invitation should be sent to the given email address.

                    Defaults to `true`.'
                  default: true
                ignore_existing:
                  type:
                  - boolean
                  - 'null'
                  description: Whether an invitation should be created if there is already an existing invitation for this email address, or it's claimed by another user.
                  default: false
                expires_in_days:
                  type:
                  - integer
                  - 'null'
                  description: The number of days the invitation will be valid for. By default, the invitation expires after 30 days.
                  minimum: 1
                  maximum: 365
                template_slug:
                  type: string
                  enum:
                  - invitation
                  - waitlist_invitation
                  description: The slug of the email template to use for the invitation email.
              required:
              - email_address
      responses:
        '200':
          $ref: '#/components/responses/Invitation'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - bearerAuth: []
    get:
      summary: List All Invitations
      x-speakeasy-group: invitations
      x-speakeasy-name-override: list
      description: Returns all non-revoked invitations for your application, sorted by creation date
      operationId: ListInvitations
      parameters:
      - in: query
        name: status
        required: false
        description: Filter invitations based on their status
        schema:
          type: string
          enum:
          - pending
          - accepted
          - revoked
          - expired
      - in: query
        required: false
        name: query
        description: Filter invitations based on their `email_address` or `id`
        schema:
          type: string
      - name: order_by
        in: query
        required: false
        description: 'Allows to return invitations in a particular order.

          At the moment, you can order the returned invitations either by their `created_at`, `email_address` or `expires_at`.

          In order to specify the direction, you can use the `+/-` symbols prepended in the property to order by.

          For example, if you want invitations to be returned in descending order according to their `created_at` property, you can use `-created_at`.

          If you don''t use `+` or `-`, then `+` is implied.

          Defaults to `-created_at`.'
        schema:
          type: string
          default: -created_at
      - $ref: '#/components/parameters/Paginated'
      - $ref: '#/components/parameters/LimitParameter'
      - $ref: '#/components/parameters/OffsetParameter'
      tags:
      - Invitations
      responses:
        '200':
          $ref: '#/components/responses/Invitation.List'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clerk.com/v1
  /invitations/bulk:
    post:
      operationId: CreateBulkInvitations
      x-speakeasy-group: invitations
      x-speakeasy-name-override: bulkCreate
      summary: Create Multiple Invitations
      description: 'Use this API operation to create multiple invitations for the provided email addresses. You can choose to send the

        invitations as emails by setting the `notify` parameter to `true`. There cannot be an existing invitation for any

        of the email addresses you provide unless you set `ignore_existing` to `true` for specific email addresses. Please

        note that there must be no existing user for any of the email addresses you provide, and this rule cannot be bypassed.


        This endpoint is limited to a maximum of 10 invitations per API call. If you need to send more invitations, please make multiple requests.'
      tags:
      - Invitations
      requestBody:
        description: Required parameters
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              maxItems: 10
              items:
                type: object
                additionalProperties: false
                properties:
                  email_address:
                    type: string
                    description: The email address the invitation will be sent to
                  public_metadata:
                    type:
                    - object
                    - 'null'
                    description: 'Metadata that will be attached to the newly created invitation.

                      The value of this property should be a well-formed JSON object.

                      Once the user accepts the invitation and signs up, these metadata will end up in the user''s public metadata.'
                    additionalProperties: true
                  redirect_url:
                    type:
                    - string
                    - 'null'
                    description: The URL where the user is redirected upon visiting the invitation link, where they can accept the invitation. Required if you have implemented a [custom flow for handling application invitations](/docs/custom-flows/invitations).
                  notify:
                    type:
                    - boolean
                    - 'null'
                    description: 'Optional flag which denotes whether an email invitation should be sent to the given email address.

                      Defaults to true.'
                    default: true
                  ignore_existing:
                    type:
                    - boolean
                    - 'null'
                    description: 'Whether an invitation should be created if there is already an existing invitation for this email

                      address, or it''s claimed by another user.'
                    default: false
                  expires_in_days:
                    type:
                    - integer
                    - 'null'
                    description: The number of days the invitation will be valid for. By default, the invitation expires after 30 days.
                    minimum: 1
                    maximum: 365
                  template_slug:
                    type: string
                    enum:
                    - invitation
                    - waitlist_invitation
                    description: The slug of the email template to use for the invitation email.
                    default: invitation
                required:
                - email_address
      responses:
        '200':
          $ref: '#/components/responses/Invitation.List'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clerk.com/v1
  /invitations/{invitation_id}/revoke:
    post:
      operationId: RevokeInvitation
      x-speakeasy-group: invitations
      x-speakeasy-name-override: revoke
      summary: Revokes an Invitation
      description: 'Revokes the given invitation.

        Revoking an invitation will prevent the user from using the invitation link that was sent to them.

        However, it doesn''t prevent the user from signing up if they follow the sign up flow.

        Only active (i.e. non-revoked) invitations can be revoked.'
      tags:
      - Invitations
      parameters:
      - name: invitation_id
        in: path
        description: The ID of the invitation to be revoked
        required: true
        schema:
          type: string
      responses:
        '200':
          $ref: '#/components/responses/Invitation.Revoked'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ResourceNotFound'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.clerk.com/v1
  /v1/organizations/{organization_id}/invitations:
    post:
      summary: Create Organization Invitation
      description: 'Create an invitation for a user to join an organization.


        The current user must have permissions to manage the members of the organization.'
      operationId: createOrganizationInvitations
      tags:
      - Invitations
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
        description: The ID of the organization for which the invitation will be created.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: false
              properties:
                email_address:
                  type: string
                  description: The email address the invitation will be sent to.
                role:
                  type: string
                  description: 'The role that will be assigned to the user after joining.

                    This can be one of the predefined roles (`org:admin`, `org:basic_member`) or a custom role.'
              required:
              - email_address
              - role
      responses:
        '200':
          $ref: '#/components/responses/Client.ClientWrappedOrganizationInvitation'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/ClerkErrors'
      security:
      - {}
      - DevBrowser: []
      - ProductionBrowser: []
      - ProductionNativeApp: []
        ProductionNativeFlag: []
    get:
      summary: Get All Organization Invitations
      description: 'Retrieve all invitations for an organization.


        The current user must have permissions to manage the members of the organization.'
      operationId: getOrganizationInvitations
      tags:
      - Invitations
      parameters:
      - $ref: '#/components/parameters/LimitParameter'
      - $ref: '#/components/parameters/OffsetParameter'
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
        description: The ID of the organization for which the invitation will be retrieved.
      - in: query
        name: status
        required: false
        schema:
          type: string
          enum:
          - pending
          - accepted
          - revoked
          - expired
          - invalid
          - completed
      responses:
        '200':
          $ref: '#/components/responses/Client.ClientWrappedOrganizationInvitations'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/ClerkErrors'
      security:
      - {}
      - DevBrowser: []
      - ProductionBrowser: []
      - ProductionNativeApp: []
        ProductionNativeFlag: []
    servers:
    - url: https://{domain}.clerk.accounts.dev
      variables:
        domain:
          default: example-destined-camel-13
          description: Your Development Instance Frontend API Domain.
  /v1/organizations/{organization_id}/invitations/bulk:
    post:
      summary: Bulk Create Organization Invitations
      description: 'Create an invitation for a user to join an organization.


        The current user must have permissions to manage the members of the organization.'
      operationId: bulkCreateOrganizationInvitations
      tags:
      - Invitations
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
        description: The ID of the organization for which the invitations will be created.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: false
              properties:
                email_address:
                  type: array
                  description: An array of email addresses the invitations will be sent to.
                  items:
                    type: string
                role:
                  type: string
                  description: 'The role that will be assigned to each of the users after joining.

                    This can be one of the predefined roles (`org:admin`, `org:basic_member`) or a custom role.'
              required:
              - email_address
              - role
      responses:
        '200':
          $ref: '#/components/responses/Client.ClientWrappedOrganizationInvitations'
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '401':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/ClerkErrors'
      security:
      - {}
      - DevBrowser: []
      - ProductionBrowser: []
      - ProductionNativeApp: []
        ProductionNativeFlag: []
    servers:
    - url: https://{domain}.clerk.accounts.dev
      variables:
        domain:
          default: example-destined-camel-13
          description: Your Development Instance Frontend API Domain.
  /v1/organizations/{organization_id}/invitations/pending:
    get:
      summary: Get All Pending Organization Invitations
      deprecated: true
      description: 'Get a list of pending invitations for an organization.


        This endpoint is deprecated. Instead use the `/v1/organizations/{organization_id}/invitations`

        with a query parameter of `status=pending`.'
      operationId: getAllPendingOrganizationInvitations
      tags:
      - Invitations
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
        description: The ID of the organization for which the invitations will be retrieved.
      responses:
        '200':
          $ref: '#/components/responses/Client.ClientWrappedOrganizationInvitations'
        '401':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/ClerkErrors'
        '422':
          $ref: '#/components/responses/ClerkErrors'
      security:
      - {}
      - DevBrowser: []
      - ProductionBrowser: []
      - ProductionNativeApp: []
        ProductionNativeFlag: []
    servers:
    - url: https://{domain}.clerk.accounts.dev
      variables:
        domain:
          default: example-destined-camel-13
          description: Your Development Instance Frontend API Domain.
  /v1/organizations/{organization_id}/invitations/{invitation_id}/revoke:
    post:
      summary: Revoke Pending Organization Invitation
      description: 'Revoke a pending organization invitation.


        The current user must have permissions to manage the members of the organization.'
      operationId: revokePendingOrganizationInvitation
      tags:
      - Invitations
      parameters:
      - in: path
        name: organization_id
        required: true
        schema:
          type: string
        description: The ID of the organization for which the invitations will be retrieved.
      - in: path
        name: invitation_id
        required: true
        schema:
          type: string
        description: The ID of the invitation to revoke.
      responses:
        '200':
          $ref: '#/components/responses/Client.ClientWrappedOrganizationInvitation'
        '401':
          $ref: '#/components/responses/ClerkErrors'
        '403':
          $ref: '#/components/responses/ClerkErrors'
        '404':
          $ref: '#/components/responses/ClerkErrors'
      security:
      - {}
      - DevBrowser: []
      - ProductionBrowser: []
      - ProductionNativeApp: []
        ProductionNativeFlag: []
    servers:
    - url: https://{domain}.clerk.accounts.dev
      variables:
        domain:
          default: example-destined-camel-13
          description: Your Development Instance Frontend API Domain.
components:
  responses:
    ResourceNotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClerkErrors'
    Invitation:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Invitation'
    ClerkErrors:
      description: Request was not successful
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClerkErrors'
    Invitation.Revoked:
      description: Success
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/Invitation'
            - type: object
              properties:
                revoked:
                  type: boolean
                  enum:
                  - true
                  example: true
                status:
                  type: string
                  enum:
                  - revoked
                  example: revoked
    Invitation.List:
      description: List of invitations
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Invitation'
    UnprocessableEntity:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClerkErrors'
    Client.ClientWrappedOrganizationInvitation:
      description: Returns the response for Client wrapped OrganizationInvitation object.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Client.ClientWrappedOrganizationInvitation'
    Client.ClientWrappedOrganizationInvitations:
      description: Returns the response for Client wrapped array of OrganizationInvitation objects.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Client.ClientWrappedOrganizationInvitations'
  schemas:
    ClerkError:
      type: object
      properties:
        message:
          type: string
        long_message:
          type: string
        code:
          type: string
        meta:
          type: object
      required:
      - message
      - long_message
      - code
    ClerkErrors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ClerkError'
        meta:
          type: object
        clerk_trace_id:
          type: string
      required:
      - errors
    Invitation:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - invitation
        id:
          type: string
        email_address:
          type: string
          format: email
        public_metadata:
          type: object
          additionalProperties: true
        revoked:
          type: boolean
          example: false
        status:
          type: string
          enum:
          - pending
          - accepted
          - revoked
          - expired
          example: pending
        url:
          type: string
        expires_at:
          type:
          - integer
          - 'null'
          format: int64
          description: 'Unix timestamp of expiration.

            '
        created_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation.

            '
        updated_at:
          type: integer
          format: int64
          description: 'Unix timestamp of last update.

            '
      required:
      - object
      - id
      - email_address
      - public_metadata
      - status
      - created_at
      - updated_at
    Stubs.Verification.SAML:
      type: object
      properties:
        object:
          type: string
          enum:
          - verification_saml
        status:
          type: string
          enum:
          - unverified
          - verified
          - failed
          - expired
          - transferable
        strategy:
          type: string
          enum:
          - saml
        external_verification_redirect_url:
          type:
          - string
          - 'null'
        error:
          allOf:
          - $ref: '#/components/schemas/ClerkError'
          - type:
            - object
            - 'null'
        expire_at:
          type:
          - integer
          - 'null'
        attempts:
          type:
          - integer
          - 'null'
      required:
      - status
      - strategy
    Stubs.Verification.Link:
      type: object
      properties:
        object:
          type: string
          enum:
          - verification_email_link
        status:
          type: string
          enum:
          - unverified
          - verified
          - failed
          - expired
          - transferable
        strategy:
          type: string
          enum:
          - email_link
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type: integer
        verified_at_client:
          type: string
      required:
      - status
      - strategy
      - expire_at
    Client.OrganizationInvitation:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - organization_invitation
        email_address:
          type: string
        role:
          type: string
        role_name:
          type: string
        organization_id:
          type: string
        public_organization_data:
          type: object
          allOf:
          - $ref: '#/components/schemas/Client.PublicOrganizationData'
        status:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - pending
          - revoked
          - accepted
          - expired
          - completed
        public_metadata:
          type: object
          additionalProperties: true
        url:
          type:
          - string
          - 'null'
        expires_at:
          type:
          - integer
          - 'null'
          format: int64
        created_at:
          type: integer
          format: int64
          description: Unix timestamp of creation.
        updated_at:
          type: integer
          format: int64
          description: Unix timestamp of last update.
      required:
      - object
      - id
      - email_address
      - role
      - role_name
      - public_metadata
      - url
      - expires_at
      - created_at
      - updated_at
    Client.Passkey:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - passkey
        name:
          type: string
        last_used_at:
          type:
          - integer
          - 'null'
          format: int64
          description: 'Unix timestamp of when the passkey was last used.

            '
        verification:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/Stubs.Verification.Passkey'
        created_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation

            '
        updated_at:
          type: integer
          format: int64
          description: 'Unix timestamp of update

            '
      required:
      - id
      - object
      - name
      - verification
    Client.ClientWrappedOrganizationInvitations:
      type: object
      additionalProperties: false
      properties:
        response:
          oneOf:
          - type: array
            items:
              $ref: '#/components/schemas/Client.OrganizationInvitation'
          - type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Client.OrganizationInvitation'
              total_count:
                type: integer
                format: int64
        client:
          type: object
          allOf:
          - $ref: '#/components/schemas/schemas-Client.Client'
      required:
      - response
      - client
    Stubs.SignInFactor:
      type: object
      additionalProperties: false
      properties:
        strategy:
          type: string
          enum:
          - ticket
          - password
          - email_code
          - email_link
          - phone_code
          - web3_metamask_signature
          - web3_base_signature
          - web3_coinbase_wallet_signature
          - web3_okx_wallet_signature
          - web3_solana_signature
          - totp
          - backup_code
          - oauth_apple
          - oauth_google
          - oauth_facebook
          - oauth_hubspot
          - oauth_github
          - oauth_mock
          - oauth_custom_mock
          - oauth_token_mock
          - saml
          - enterprise_sso
          - reset_password_email_code
          - reset_password_phone_code
          - passkey
          - google_one_tap
        safe_identifier:
          type: string
        enterprise_connection_id:
          type: string
        enterprise_connection_name:
          type: string
        email_address_id:
          type: string
        phone_number_id:
          type: string
        web3_wallet_id:
          type: string
        passkey_id:
          type: string
        primary:
          type:
          - boolean
          - 'null'
        external_verification_redirect_url:
          type:
          - string
          - 'null'
        default:
          type: boolean
      required:
      - strategy
    Stubs.Verification.BackupCode:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - verification_backup_code
        status:
          type: string
          enum:
          - unverified
          - verified
        strategy:
          type: string
          enum:
          - backup_code
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type:
          - integer
          - 'null'
      required:
      - status
      - strategy
    Stubs.Verification.FromOauth:
      type: object
      properties:
        object:
          type: string
          enum:
          - verification_from_oauth
        status:
          type: string
          enum:
          - verified
          - unverified
        strategy:
          type: string
          enum:
          - from_oauth_apple
          - from_oauth_google
          - from_oauth_mock
          - from_oauth_custom_mock
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type:
          - integer
          - 'null'
      required:
      - status
      - strategy
    Token:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - token
        jwt:
          type: string
          description: 'String representing the encoded JWT value.

            '
      required:
      - object
      - jwt
    Stubs.Verification.Admin:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - verification_admin
        status:
          type: string
          enum:
          - verified
          - unverified
          - failed
          - expired
        strategy:
          type: string
          enum:
          - admin
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type:
          - integer
          - 'null'
      required:
      - status
      - strategy
    Client.EmailAddress:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - email_address
        email_address:
          type: string
        reserved:
          type: boolean
        verification:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/Stubs.Verification.OTP'
          - $ref: '#/components/schemas/Stubs.Verification.Invitation'
          - $ref: '#/components/schemas/Stubs.Verification.Link'
          - $ref: '#/components/schemas/Stubs.Verification.Ticket'
          - $ref: '#/components/schemas/Stubs.Verification.Admin'
          - $ref: '#/components/schemas/Stubs.Verification.FromOauth'
          - $ref: '#/components/schemas/Stubs.Verification.SAML'
        linked_to:
          type: array
          items:
            $ref: '#/components/schemas/Stubs.Identification.Link'
        matches_sso_connection:
          description: 'Indicates whether this email address domain matches an active enterprise connection.

            '
          type: boolean
        created_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation

            '
        updated_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation

            '
      required:
      - id
      - object
      - email_address
      - verification
      - linked_to
      - reserved
      - created_at
      - updated_at
    ExternalAccountWithVerification:
      type: object
      additionalProperties: true
      properties:
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - external_account
          - facebook_account
          - google_account
        id:
          type: string
        provider:
          type: string
        identification_id:
          type: string
        provider_user_id:
          description: The unique ID of the user in the external provider's system
          type: string
        approved_scopes:
          type: string
        email_address:
          type: string
        email_address_verified:
          type:
          - boolean
          - 'null'
          description: 'Whether the email was verified by the OAuth provider at creation time. null = unknown (pre-migration data or custom OAuth providers), true = provider confirmed email was verified, false = provider confirmed email was NOT verified

            '
        first_name:
          type: string
        last_name:
          type: string
        avatar_url:
          type: string
          deprecated: true
          description: Please use `image_url` instead
        image_url:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        phone_number:
          type:
          - string
          - 'null'
        public_metadata:
          type: object
          additionalProperties: true
        label:
          type:
          - string
          - 'null'
        created_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation

            '
        updated_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation

            '
        verification:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/verification_oauth'
          - $ref: '#/components/schemas/verification_google_one_tap'
          discriminator:
            propertyName: object
      required:
      - object
      - id
      - provider
      - identification_id
      - provider_user_id
      - approved_scopes
      - email_address
      - first_name
      - last_name
      - public_metadata
      - created_at
      - updated_at
      - verification
    Client.OrganizationMembership:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - organization_membership
        public_metadata:
          type: object
          additionalProperties: true
        role:
          type: string
        role_name:
          type: string
        permissions:
          type:
          - array
          - 'null'
          items:
            type: string
        created_at:
          type: integer
          format: int64
          description: Unix timestamp of creation.
        updated_at:
          type: integer
          format: int64
          description: Unix timestamp of last update.
        organization:
          $ref: '#/components/schemas/Client.Organization'
        public_user_data:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Client.PublicUserData'
      required:
      - object
      - id
      - public_metadata
      - role
      - role_name
      - permissions
      - created_at
      - updated_at
      - organization
    Client.PublicUserData:
      type: object
      additionalProperties: false
      properties:
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        image_url:
          type:
          - string
          - 'null'
        has_image:
          type: boolean
        identifier:
          type: string
        profile_image_url:
          type:
          - string
          - 'null'
          deprecated: true
          description: Use `image_url` instead.
        user_id:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        banned:
          type: boolean
      required:
      - first_name
      - last_name
      - identifier
      - has_image
    verification_oauth:
      x-speakeasy-name-override: Oauth
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - verification_oauth
        status:
          type: string
          x-speakeasy-unknown-values: allow
          enum:
          - unverified
          - verified
          - failed
          - expired
          - transferable
        strategy:
          type: string
          x-speakeasy-unknown-values: allow
          pattern: ^oauth_(?:(?:token_)|(?:custom_))?[a-z]+$
        external_verification_redirect_url:
          type: string
        error:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/ClerkError'
        expire_at:
          type: integer
        attempts:
          type:
          - integer
          - 'null'
        verified_at_client:
          type:
          - string
          - 'null'
      required:
      - status
      - strategy
      - attempts
      - expire_at
    Stubs.Verification.Ticket:
      type: object
      properties:
        object:
          type: string
          enum:
          - verification_ticket
        status:
          type: string
          enum:
          - unverified
          - verified
          - expired
        strategy:
          type: string
          enum:
          - ticket
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type:
          - integer
          - 'null'
      required:
      - status
      - strategy
    schemas-Client.Session:
      allOf:
      - $ref: '#/components/schemas/schemas-Client.SessionBase'
      - type: object
        properties:
          last_active_organization_id:
            type:
            - string
            - 'null'
          user:
            $ref: '#/components/schemas/Client.User'
          public_user_data:
            type:
            - object
            - 'null'
            allOf:
            - $ref: '#/components/schemas/Client.PublicUserData'
          factor_verification_age:
            type: array
            description: Each item represents the minutes that have passed since the last time a first or second factor were verified.
            items:
              type: integer
          created_at:
            type: integer
            format: int64
            description: Unix timestamp of creation.
            example: 1700690400000
          updated_at:
            type: integer
            format: int64
            description: Unix timestamp of last update.
            example: 1700690400000
        required:
        - last_active_organization_id
        - public_user_data
        - factor_verification_age
        - created_at
        - updated_at
    Stubs.Verification.Passkey:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - verification_passkey
        status:
          type: string
          enum:
          - unverified
          - verified
          - failed
          - expired
        strategy:
          type: string
          enum:
          - passkey
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type: integer
        nonce:
          type: string
      required:
      - status
      - strategy
      - expire_at
    Stubs.Verification.Web3Signature:
      type: object
      properties:
        object:
          type: string
          enum:
          - verification_web3
        status:
          type: string
          enum:
          - unverified
          - verified
          - failed
          - expired
        strategy:
          type: string
          enum:
          - web3_metamask_signature
          - web3_base_signature
          - web3_coinbase_wallet_signature
          - web3_okx_wallet_signature
          - web3_solana_signature
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type:
          - integer
          - 'null'
        nonce:
          type:
          - string
          - 'null'
        message:
          type:
          - string
          - 'null'
      required:
      - status
      - strategy
    Client.SessionTask:
      type: object
      properties:
        key:
          type: string
      required:
      - key
    Client.PublicOrganizationData:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        name:
          type: string
        slug:
          type: string
        image_url:
          type: string
        has_image:
          type: boolean
      required:
      - id
      - name
      - slug
      - has_image
    schemas-Client.Client:
      type:
      - object
      - 'null'
      properties:
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - client
        id:
          type: string
          description: String representing the identifier of the session.
        sessions:
          type: array
          items:
            $ref: '#/components/schemas/schemas-Client.Session'
        sign_in:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/schemas-Client.SignIn'
        sign_up:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Client.SignUp'
        last_active_session_id:
          type:
          - string
          - 'null'
          description: Last active session_id.
        last_authentication_strategy:
          type:
          - string
          - 'null'
          description: 'The authentication strategy that was last used to authenticate the user on this client.

            '
        cookie_expires_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp of the cookie expiration.
        captcha_bypass:
          type: boolean
          description: Whether the client can bypass CAPTCHA.
        created_at:
          type: integer
          format: int64
          description: Unix timestamp of creation.
        updated_at:
          type: integer
          format: int64
          description: Unix timestamp of last update.
      required:
      - object
      - id
      - sessions
      - sign_in
      - sign_up
      - last_active_session_id
      - last_authentication_strategy
      - cookie_expires_at
      - captcha_bypass
      - created_at
      - updated_at
    Client.User:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - user
        username:
          type:
          - string
          - 'null'
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        image_url:
          type: string
        has_image:
          type: boolean
        primary_email_address_id:
          type:
          - string
          - 'null'
        primary_phone_number_id:
          type:
          - string
          - 'null'
        primary_web3_wallet_id:
          type:
          - string
          - 'null'
        password_enabled:
          type: boolean
        two_factor_enabled:
          type: boolean
        totp_enabled:
          type: boolean
        backup_code_enabled:
          type: boolean
        email_addresses:
          type: array
          items:
            $ref: '#/components/schemas/Client.EmailAddress'
        phone_numbers:
          type: array
          items:
            $ref: '#/components/schemas/Client.PhoneNumber'
        web3_wallets:
          type: array
          items:
            $ref: '#/components/schemas/Client.Web3Wallet'
        passkeys:
          type: array
          items:
            $ref: '#/components/schemas/Client.Passkey'
        organization_memberships:
          type: array
          items:
            $ref: '#/components/schemas/Client.OrganizationMembership'
        external_accounts:
          type: array
          items:
            $ref: '#/components/schemas/ExternalAccountWithVerification'
        saml_accounts:
          type: array
          items:
            $ref: '#/components/schemas/Client.SAMLAccount'
        password_last_updated_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp of last update.
          example: 1700690400000
        public_metadata:
          type: object
          additionalProperties: true
        private_metadata:
          type: object
          additionalProperties: true
        unsafe_metadata:
          type: object
          additionalProperties: true
        external_id:
          type:
          - string
          - 'null'
        last_sign_in_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp of last sign-in.
          example: 1700690400000
        banned:
          type: boolean
          description: Flag to denote whether user is banned or not.
        locked:
          type: boolean
          description: 'Flag to denote whether user is currently locked, i.e. restricted from signing in or not.

            '
        deprovisioned:
          type: boolean
          description: 'Flag to denote whether the user has been deprovisioned via SCIM and is restricted from signing in. Only present on instances with SCIM enabled.

            '
        lockout_expires_in_seconds:
          type:
          - integer
          - 'null'
          format: int64
          description: 'The number of seconds remaining until the lockout period expires for a locked user. A null value for a locked user indicates that lockout never expires.

            '
          example: 300
        verification_attempts_remaining:
          type:
          - integer
          - 'null'
          format: int64
          description: 'The number of verification attempts remaining until the user is locked. Null if account lockout is not enabled. Note: if a user is locked explicitly via the Backend API, they may still have verification attempts remaining.

            '
        created_at:
          type: integer
          format: int64
          description: Unix timestamp of creation.
          example: 1700690400000
        updated_at:
          type: integer
          format: int64
          description: Unix timestamp of last update.
          example: 1700690400000
        delete_self_enabled:
          type: boolean
          description: If enabled, user can delete themselves via FAPI.
        create_organization_enabled:
          type: boolean
          description: If enabled, user can create organizations via FAPI.
        create_organizations_limit:
          type: integer
          description: The maximum number of organizations the user can create. 0 means unlimited.
        last_active_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp of the latest session activity, with day precision.
          example: 1700690400000
        mfa_enabled_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp at which the user enabled MFA.
          example: 1700690400000
        mfa_disabled_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp at which the user disabled MFA.
          example: 1700690400000
        legal_accepted_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp at which the user accepted the legal requirements.
          example: 1700690400000
        profile_image_url:
          type: string
          deprecated: true
          description: Deprecated. Use `image_url` instead.
      required:
      - id
      - object
      - username
      - first_name
      - last_name
      - has_image
      - primary_email_address_id
      - primary_phone_number_id
      - primary_web3_wallet_id
      - password_enabled
      - two_factor_enabled
      - totp_enabled
      - backup_code_enabled
      - email_addresses
      - phone_numbers
      - web3_wallets
      - passkeys
      - external_accounts
      - saml_accounts
      - enterprise_accounts
      - public_metadata
      - external_id
      - last_sign_in_at
      - banned
      - locked
      - lockout_expires_in_seconds
      - verification_attempts_remaining
      - created_at
      - updated_at
      - delete_self_enabled
      - create_organization_enabled
      - last_active_at
      - mfa_enabled_at
      - mfa_disabled_at
      - legal_accepted_at
    Stubs.Verification.Oauth:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - verification_oauth
        status:
          type: string
          enum:
          - unverified
          - verified
          - failed
          - expired
          - transferable
        strategy:
          type: string
          pattern: ^oauth_(?:(?:token_)|(?:custom_))?[a-z0-9_]+$
        external_verification_redirect_url:
          type:
          - string
          - 'null'
        error:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/ClerkError'
        expire_at:
          type: integer
        attempts:
          type:
          - integer
          - 'null'
      required:
      - status
      - strategy
      - expire_at
    Client.ClientWrappedOrganizationInvitation:
      type: object
      additionalProperties: false
      properties:
        response:
          type: object
          allOf:
          - $ref: '#/components/schemas/Client.OrganizationInvitation'
        client:
          type: object
          allOf:
          - $ref: '#/components/schemas/schemas-Client.Client'
      required:
      - response
      - client
    Client.Organization:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - organization
        name:
          type: string
        slug:
          type: string
        image_url:
          type: string
        has_image:
          type: boolean
        members_count:
          type: integer
        pending_invitations_count:
          type: integer
        max_allowed_memberships:
          type: integer
        admin_delete_enabled:
          type: boolean
        public_metadata:
          type: object
          additionalProperties: true
        created_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation.

            '
        updated_at:
          type: integer
          format: int64
          description: 'Unix timestamp of last update.

            '
        logo_url:
          type:
          - string
          - 'null'
          deprecated: true
          description: Deprecated. Use `image_url` instead.
      required:
      - object
      - id
      - name
      - slug
      - has_image
      - max_allowed_memberships
      - admin_delete_enabled
      - public_metadata
      - created_at
      - updated_at
    Stubs.SAMLConnection.SAMLAccount:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        name:
          type: string
        domain:
          type: string
          deprecated: true
        domains:
          type: array
          items:
            type: string
        active:
          type: boolean
        provider:
          type: string
        sync_user_attributes:
          type: boolean
        allow_subdomains:
          type: boolean
        allow_idp_initiated:
          type: boolean
        disable_additional_identifications:
          type: boolean
        allow_organization_account_linking:
          type: boolean
        created_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation.

            '
        updated_at:
          type: integer
          format: int64
          description: 'Unix timestamp of last update.

            '
      required:
      - id
      - name
      - active
      - provider
      - sync_user_attributes
      - created_at
      - updated_at
      anyOf:
      - required:
        - domain
      - required:
        - domains
    Client.SignUp:
      type: object
      properties:
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - sign_up_attempt
        id:
          type: string
          description: Unique identifier for this sign up.
        status:
          type: string
          enum:
          - abandoned
          - missing_requirements
          - complete
        required_fields:
          type: array
          items:
            type: string
          description: 'List of required fields which need to be supplied to the current sign-up. These fields are mandatory in order for the sign-up to satisfy the attached registration policy and be marked as complete.

            '
        optional_fields:
          type: array
          items:
            type: string
          description: 'List of optional fields which can be supplied to the current sign-up. These fields are not required and their absence does not prevent the sign-up to be marked as complete.

            '
        missing_fields:
          type: array
          items:
            type: string
          description: 'List of the missing fields which still need to be supplied to the current sign-up. These fields are mandatory in order for the sign-up to satisfy the attached registration policy and be marked as complete.

            '
        unverified_fields:
          type: array
          items:
            type: string
          description: 'List of fields which are already supplied to the current sign-up but they need to be verified. Example of such fields are email addresses and phone numbers.

            '
        verifications:
          description: 'Group for all available verifications.

            '
          allOf:
          - $ref: '#/components/schemas/Client.SignUp.Verifications'
        username:
          type:
          - string
          - 'null'
        email_address:
          type:
          - string
          - 'null'
        phone_number:
          type:
          - string
          - 'null'
        web3_wallet:
          type:
          - string
          - 'null'
        password_enabled:
          type: boolean
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        unsafe_metadata:
          description: 'Custom JSON that callers can use to store arbitrary values that make sense in the context of the current sign up.

            '
          type: object
          additionalProperties: true
        public_metadata:
          description: 'Custom JSON that can be used to store arbitrary values which will end up in the user''s public metadata. This field can only be populated from the application''s BE. At this point, this can be done via invitations.

            '
          type: object
          additionalProperties: true
        custom_action:
          type: boolean
        external_id:
          type:
          - string
          - 'null'
        created_session_id:
          type:
          - string
          - 'null'
        created_user_id:
          type:
          - string
          - 'null'
        abandon_at:
          type: integer
          format: int64
          description: Unix timestamp at which the sign up will be abandoned.
          example: 1700690400000
        legal_accepted_at:
          type:
          - integer
          - 'null'
          format: int64
          description: Unix timestamp at which the user accepted the legal requirements.
          example: 1700690400000
      required:
      - object
      - id
      - status
      - required_fields
      - optional_fields
      - missing_fields
      - unverified_fields
      - verifications
      - username
      - email_address
      - phone_number
      - web3_wallet
      - password_enabled
      - first_name
      - last_name
      - custom_action
      - external_id
      - created_session_id
      - created_user_id
      - abandon_at
      - legal_accepted_at
    Client.Web3Wallet:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - web3_wallet
        web3_wallet:
          type: string
        verification:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/Stubs.Verification.Web3Signature'
          - $ref: '#/components/schemas/Stubs.Verification.Admin'
        created_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation

            '
        updated_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation

            '
      required:
      - id
      - object
      - web3_wallet
      - verification
      - created_at
      - updated_at
    schemas-Client.SignIn:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - sign_in_attempt
        id:
          type: string
        status:
          type: string
          enum:
          - abandoned
          - needs_identifier
          - needs_first_factor
          - needs_second_factor
          - needs_client_trust
          - needs_new_password
          - needs_protect_check
          - complete
        supported_identifiers:
          type: array
          description: List of supported identifiers that can be used to sign in.
          items:
            type: string
            enum:
            - email_address
            - phone_number
            - username
            - web3_wallet
            - passkey
        supported_first_factors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Stubs.SignInFactor'
        supported_second_factors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Stubs.SignInFactor'
        first_factor_verification:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/Stubs.Verification.Password'
          - $ref: '#/components/schemas/Stubs.Verification.Oauth'
          - $ref: '#/components/schemas/Stubs.Verification.OTP'
          - $ref: '#/components/schemas/Stubs.Verification.Link'
          - $ref: '#/components/schemas/Stubs.Verification.Web3Signature'
          - $ref: '#/components/schemas/Stubs.Verification.Ticket'
          - $ref: '#/components/schemas/Stubs.Verification.SAML'
          - $ref: '#/components/schemas/Stubs.Verification.Passkey'
          - $ref: '#/components/schemas/Stubs.Verification.GoogleOneTap'
        second_factor_verification:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/Stubs.Verification.OTP'
          - $ref: '#/components/schemas/Stubs.Verification.Link'
          - $ref: '#/components/schemas/Stubs.Verification.TOTP'
          - $ref: '#/components/schemas/Stubs.Verification.Ticket'
          - $ref: '#/components/schemas/Stubs.Verification.BackupCode'
        identifier:
          type:
          - string
          - 'null'
        user_data:
          type:
          - object
          - 'null'
          additionalProperties: false
          properties:
            first_name:
              type:
              - string
              - 'null'
            last_name:
              type:
              - string
              - 'null'
            image_url:
              type: string
            has_image:
              type: boolean
            profile_image_url:
              type:
              - string
              - 'null'
              deprecated: true
              description: Use `image_url` instead.
          required:
          - first_name
          - last_name
          - has_image
        created_session_id:
          type:
          - string
          - 'null'
        abandon_at:
          type: integer
          format: int64
          description: Unix timestamp at which the sign in will be abandoned.
          example: 1700690400000
        client_trust_state:
          type:
          - string
          - 'null'
          description: 'The trust state of the client for this sign-in attempt. - `pending`: The identifier has not been set yet. - `new`: The user has not had a session on this client before. - `known`: The user has had a session on this client before.

            '
          enum:
          - pending
          - new
          - known
      required:
      - object
      - id
      - status
      - supported_identifiers
      - supported_first_factors
      - supported_second_factors
      - first_factor_verification
      - second_factor_verification
      - identifier
      - user_data
      - created_session_id
      - abandon_at
    schemas-Client.SessionBase:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - session
        status:
          type: string
          enum:
          - active
          - revoked
          - ended
          - expired
          - removed
          - abandoned
          - pending
        expire_at:
          type: integer
          format: int64
        abandon_at:
          type: integer
          format: int64
        last_active_at:
          type: integer
          format: int64
        last_active_token:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Token'
        actor:
          type:
          - object
          - 'null'
          additionalProperties: true
        tasks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Client.SessionTask'
      required:
      - id
      - object
      - status
      - expire_at
      - abandon_at
      - last_active_at
    Client.PhoneNumber:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - phone_number
        phone_number:
          type: string
        reserved_for_second_factor:
          type: boolean
        default_second_factor:
          type: boolean
        reserved:
          type: boolean
        verification:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/Stubs.Verification.OTP'
          - $ref: '#/components/schemas/Stubs.Verification.Admin'
        linked_to:
          type: array
          items:
            $ref: '#/components/schemas/Stubs.Identification.Link'
        backup_codes:
          type:
          - array
          - 'null'
          items:
            type: string
        created_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation

            '
        updated_at:
          type: integer
          format: int64
          description: 'Unix timestamp of creation

            '
      required:
      - id
      - object
      - phone_number
      - verification
      - linked_to
      - reserved
      - created_at
      - updated_at
    Client.SignUp.Verifications:
      type: object
      properties:
        email_address:
          type:
          - object
          - 'null'
          oneOf:
          - allOf:
            - $ref: '#/components/schemas/Stubs.Verification.OTP'
            - $ref: '#/components/schemas/Stubs.SignUpVerification.AdditionalFields'
          - allOf:
            - $ref: '#/components/schemas/Stubs.Verification.Link'
            - $ref: '#/components/schemas/Stubs.SignUpVerification.AdditionalFields'
          - allOf:
            - $ref: '#/components/schemas/Stubs.Verification.Ticket'
            - $ref: '#/components/schemas/Stubs.SignUpVerification.AdditionalFields'
          - allOf:
            - $ref: '#/components/schemas/Stubs.Verification.FromOauth'
            - $ref: '#/components/schemas/Stubs.SignUpVerification.AdditionalFields'
          - allOf:
            - $ref: '#/components/schemas/Stubs.Verification.SAML'
            - $ref: '#/components/schemas/Stubs.SignUpVerification.AdditionalFields'
        phone_number:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Stubs.Verification.OTP'
          - $ref: '#/components/schemas/Stubs.SignUpVerification.AdditionalFields'
        web3_wallet:
          type:
          - object
          - 'null'
          allOf:
          - $ref: '#/components/schemas/Stubs.Verification.Web3Signature'
          - $ref: '#/components/schemas/Stubs.SignUpVerification.AdditionalFields'
        external_account:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/Stubs.Verification.Oauth'
          - $ref: '#/components/schemas/Stubs.Verification.SAML'
          - $ref: '#/components/schemas/Stubs.Verification.Ticket'
          - $ref: '#/components/schemas/Stubs.Verification.GoogleOneTap'
      required:
      - email_address
      - phone_number
      - web3_wallet
      - external_account
    Stubs.Verification.Invitation:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - verification_invitation
        status:
          type: string
          enum:
          - verified
        strategy:
          type: string
          enum:
          - invitation
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type:
          - integer
          - 'null'
      required:
      - status
      - strategy
    Stubs.Identification.Link:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
          enum:
          - oauth_apple
          - oauth_google
          - oauth_mock
          - oauth_custom_mock
          - saml
        id:
          type: string
      required:
      - type
      - id
    verification_google_one_tap:
      x-speakeasy-name-override: GoogleOneTap
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - verification_google_one_tap
        status:
          type: string
          enum:
          - unverified
          - verified
        strategy:
          type: string
          enum:
          - google_one_tap
        expire_at:
          type:
          - integer
          - 'null'
        attempts:
          type:
          - integer
          - 'null'
        verified_at_client:
          type:
          - string
          - 'null'
        error:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/ClerkError'
      required:
      - status
      - strategy
      - attempts
      - expire_at
    Stubs.Verification.TOTP:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - verification_totp
        status:
          type: string
          enum:
          - unverified
          - verified
        strategy:
          type: string
          enum:
          - totp
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type:
          - integer
          - 'null'
      required:
      - status
      - strategy
    Stubs.Verification.OTP:
      type: object
      properties:
        object:
          type: string
          enum:
          - verification_otp
        status:
          type: string
          enum:
          - unverified
          - verified
          - failed
          - expired
        strategy:
          type: string
          enum:
          - phone_code
          - email_code
          - reset_password_email_code
          - reset_password_phone_code
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type: integer
      required:
      - status
      - strategy
      - expire_at
    Stubs.Verification.GoogleOneTap:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - verification_google_one_tap
        status:
          type: string
          enum:
          - unverified
          - verified
        strategy:
          type: string
          enum:
          - google_one_tap
        expire_at:
          type:
          - integer
          - 'null'
        attempts:
          type:
          - integer
          - 'null'
      required:
      - status
      - strategy
    Stubs.SignUpVerification.AdditionalFields:
      type: object
      properties:
        next_action:
          type: string
          enum:
          - needs_prepare
          - needs_attempt
          - ''
        supported_strategies:
          type: array
          items:
            type: string
      required:
      - next_action
      - supported_strategies
    Stubs.Verification.Password:
      type: object
      additionalProperties: false
      properties:
        object:
          type: string
          enum:
          - verification_password
        status:
          type: string
          enum:
          - unverified
          - verified
        strategy:
          type: string
          enum:
          - password
        attempts:
          type:
          - integer
          - 'null'
        expire_at:
          type:
          - integer
          - 'null'
      required:
      - status
      - strategy
    Client.SAMLAccount:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        object:
          type: string
          description: 'String representing the object''s type. Objects of the same type share the same value.

            '
          enum:
          - saml_account
        provider:
          type: string
        active:
          type: boolean
        email_address:
          type: string
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        provider_user_id:
          description: The unique ID of the user in the external provider's system
          type:
          - string
          - 'null'
        enterprise_connection_id:
          type:
          - string
          - 'null'
        last_authenticated_at:
          type:
          - integer
          - 'null'
          format: int64
          description: 'Unix timestamp of last authentication.

            '
        public_metadata:
          type: object
          additionalProperties: true
        verification:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/Stubs.Verification.SAML'
          - $ref: '#/components/schemas/Stubs.Verification.Ticket'
        saml_connection:
          type:
          - object
          - 'null'
          oneOf:
          - $ref: '#/components/schemas/Stubs.SAMLConnection.SAMLAccount'
      required:
      - id
      - object
      - provider
      - active
      - email_address
      - first_name
      - last_name
      - provider_user_id
      - public_metadata
      - saml_connection
      - verification
  parameters:
    LimitParameter:
      name: limit
      in: query
      description: 'Applies a limit to the number of results returned.

        Can be used for paginating the results together with `offset`.'
      required: false
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 500
    Paginated:
      name: paginated
      in: query
      description: 'Whether to paginate the results.

        If true, the results will be paginated.

        If false, the results will not be paginated.'
      required: false
      schema:
        type: boolean
    OffsetParameter:
      name: offset
      in: query
      description: 'Skip the first `offset` results when paginating.

        Needs to be an integer greater or equal to zero.

        To be used in conjunction with `limit`.'
      required: false
      schema:
        type: integer
        default: 0
        minimum: 0
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Secret key, obtained under "API Keys" in the Clerk Dashboard.
      bearerFormat: sk_<environment>_<secret value>
    ProductionBrowser:
      type: apiKey
      in: cookie
      name: __client
      description: 'The Client API token sent in the form of a browser cookie.


        Used to authenticate production browser applications.'
    DevBrowser:
      type: apiKey
      in: query
      name: __dev_session
      description: 'A Dev Browser API token sent as a query parameter.


        Used to authenticate only dev instances.


        To generate a dev instance API token you must first make a request to `/v1/dev_browser`

        and copy it from the response.'
    ProductionNativeApp:
      type: http
      scheme: bearer
      description: 'The Client API token sent in the `Authorization` header.


        Used to authenticate native applications.'
    ProductionNativeFlag:
      type: apiKey
      in: query
      name: _is_native
      description: 'If sent and the value is true, it instructs the server to parse the API token from the `Authorization` header.


        It should always be set to true when using the `Authorization` header authentication strategy.'
    ClientCredentials:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using Client ID as username and Client Secret as password.
externalDocs:
  url: https://clerk.com/docs
x-refined-from:
- clerk-backend-api-openapi.yml
- clerk-frontend-api-openapi.yml
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes:
  - 5XX
  retryConnectionErrors: true
