openapi: 3.0.3
info:
  title: Clerk Backend Account Portal Proxy Health API
  x-logo:
    url: https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75
    altText: Clerk docs
    href: https://clerk.com/docs
  contact:
    email: support@clerk.com
    name: Clerk Platform Team
    url: https://clerk.com/support
  description: 'The Clerk REST Backend API, meant to be accessed by backend servers.


    ### Versions


    When the API changes in a way that isn''t compatible with older versions, a new version is released.

    Each version is identified by its release date, e.g. `2025-04-10`. For more information, please see [Clerk API Versions](https://clerk.com/docs/versioning/available-versions).


    Please see https://clerk.com/docs for more information.'
  version: '2025-11-10'
  termsOfService: https://clerk.com/terms
  license:
    name: MIT
    url: https://github.com/clerk/openapi-specs/blob/main/LICENSE
servers:
- url: https://api.clerk.com/v1
security:
- bearerAuth: []
tags:
- name: Proxy Health
paths:
  /v1/proxy-health:
    get:
      summary: Get Proxy Health
      description: 'Use this endpoint to check the validity of a proxy configuration for a domain.

        Pass the instance ID and domain ID as query parameters.'
      operationId: getProxyHealth
      parameters:
      - in: query
        name: domain_id
        description: The ID of the domain
        required: true
        schema:
          type: string
      - in: header
        name: Clerk-Proxy-Url
        description: The URL of the proxy
        required: true
        schema:
          type: string
      - in: header
        name: Clerk-Secret-Key
        description: The secret key of the proxy
        required: true
        schema:
          type: string
      - in: header
        name: X-Forwarded-For
        description: The IP address of the client
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Configuration is valid
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    status:
                      type: string
                      enum:
                      - healthy
                    x_forwarded_for:
                      type: string
                  required:
                  - status
                  - x_forwarded_for
                - type: object
                  properties:
                    status:
                      type: string
                      enum:
                      - unhealthy
                    message:
                      type: string
                  required:
                  - status
                  - message
        '400':
          $ref: '#/components/responses/ClerkErrors'
        '503':
          description: Configuration is invalid or service is unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - unhealthy
                  message:
                    type: string
                required:
                - status
                - message
      tags:
      - Proxy Health
components:
  schemas:
    ClerkErrors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ClerkError'
        meta:
          type: object
        clerk_trace_id:
          type: string
      required:
      - errors
    ClerkError:
      type: object
      properties:
        message:
          type: string
        long_message:
          type: string
        code:
          type: string
        meta:
          type: object
      required:
      - message
      - long_message
      - code
  responses:
    ClerkErrors:
      description: Request was not successful
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClerkErrors'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Secret key, obtained under "API Keys" in the Clerk Dashboard.
      bearerFormat: sk_<environment>_<secret value>
externalDocs:
  url: https://clerk.com/docs
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes:
  - 5XX
  retryConnectionErrors: true
