openapi: 3.0.3
info:
  title: Clerk Backend Account Portal Webhooks API
  x-logo:
    url: https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75
    altText: Clerk docs
    href: https://clerk.com/docs
  contact:
    email: support@clerk.com
    name: Clerk Platform Team
    url: https://clerk.com/support
  description: 'The Clerk REST Backend API, meant to be accessed by backend servers.


    ### Versions


    When the API changes in a way that isn''t compatible with older versions, a new version is released.

    Each version is identified by its release date, e.g. `2025-04-10`. For more information, please see [Clerk API Versions](https://clerk.com/docs/versioning/available-versions).


    Please see https://clerk.com/docs for more information.'
  version: '2025-11-10'
  termsOfService: https://clerk.com/terms
  license:
    name: MIT
    url: https://github.com/clerk/openapi-specs/blob/main/LICENSE
servers:
- url: https://api.clerk.com/v1
security:
- bearerAuth: []
tags:
- name: Webhooks
  description: You can configure webhooks to be notified about various events that happen on your instance.
  externalDocs:
    url: https://clerk.com/docs/integration/webhooks
paths:
  /webhooks/svix:
    post:
      operationId: CreateSvixApp
      x-speakeasy-group: webhooks
      x-speakeasy-name-override: createSvixApp
      summary: Create a Svix App
      description: Create a Svix app and associate it with the current instance
      tags:
      - Webhooks
      responses:
        '200':
          $ref: '#/components/responses/SvixURL'
        '400':
          $ref: '#/components/responses/ClerkErrors'
    delete:
      operationId: DeleteSvixApp
      x-speakeasy-group: webhooks
      x-speakeasy-name-override: deleteSvixApp
      summary: Delete a Svix App
      description: Delete a Svix app and disassociate it from the current instance
      tags:
      - Webhooks
      responses:
        '204':
          description: Svix app was successfully deleted
        '400':
          $ref: '#/components/responses/ClerkErrors'
  /webhooks/svix_url:
    post:
      operationId: GenerateSvixAuthURL
      x-speakeasy-group: webhooks
      x-speakeasy-name-override: generateSvixAuthURL
      summary: Create a Svix Dashboard URL
      description: Generate a new URL for accessing the Svix's management dashboard for that particular instance
      tags:
      - Webhooks
      responses:
        '200':
          $ref: '#/components/responses/SvixURL'
        '400':
          $ref: '#/components/responses/ClerkErrors'
components:
  responses:
    SvixURL:
      description: Response that contains a temporary Svix URL to access management dashboard
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SvixURL'
    ClerkErrors:
      description: Request was not successful
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ClerkErrors'
  schemas:
    ClerkError:
      type: object
      properties:
        message:
          type: string
        long_message:
          type: string
        code:
          type: string
        meta:
          type: object
      required:
      - message
      - long_message
      - code
    SvixURL:
      type: object
      additionalProperties: false
      properties:
        svix_url:
          type: string
      required:
      - svix_url
    ClerkErrors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ClerkError'
        meta:
          type: object
        clerk_trace_id:
          type: string
      required:
      - errors
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Secret key, obtained under "API Keys" in the Clerk Dashboard.
      bearerFormat: sk_<environment>_<secret value>
externalDocs:
  url: https://clerk.com/docs
x-speakeasy-retries:
  strategy: backoff
  backoff:
    initialInterval: 500
    maxInterval: 60000
    maxElapsedTime: 3600000
    exponent: 1.5
  statusCodes:
  - 5XX
  retryConnectionErrors: true
